.mainheadline{
    color:darkgreen;
}
#parent{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
a {
    text-decoration: none;
  }
  .allcaps{
text-transform: uppercase;
  }
  a:hover{
      text-decoration: underline;
}
p > img{
    float: left;
    margin: 50px;
}